# Google Maps Platform
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=

# Mapbox
NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN=

# Cesium Ion (Optional, for 3D Tiles / Terrain if not using Plateau directly)
NEXT_PUBLIC_CESIUM_ION_ACCESS_TOKEN=
